<div class="centered h1">Edit Expense</div>
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Recurrence</label>
		<div class="col-sm-10">
			<select class="form-control" ng-model="recurrence" ng-change="updateFields(recurrence)">
				<option ng-repeat="type in recurrenceTypes">{{type.name}}</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-repeat="input in globalFields">
		<label class="col-sm-3 control-label">{{input.name}}</label>
		<div class="col-sm-9">
			<input type="{{input.type}}" class="form-control" ng-model="input.value" ng-if="input.type !== 'number'">
			<input type="{{input.type}}" step="{{input.step}}" min="0" class="form-control" ng-model="input.value" ng-if="input.type === 'number'">
			<select class="form-control" ng-model="input.value" ng-if="input.options">
				<option ng-repeat="option in input.options">{{option}}</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-repeat="input in calculatedFields.fields" ng-if="!input.hidden">
		<label class="col-sm-3 control-label">{{input.name}}</label>
		<div class="col-sm-9">
			<input type="{{input.type}}" class="form-control" ng-model="input.value" ng-if="input.type && input.type !== 'number'">
			<input type="{{input.type}}" step="{{input.step}}" min="0" class="form-control" ng-model="input.value" ng-if="input.type === 'number'">
			<select class="form-control" ng-model="input.value" ng-if="input.options">
				<option ng-repeat="option in input.options">{{option}}</option>
			</select>
		</div>
	</div>
</form>
<div class="well center-block" style="max-width:400px">
	<button type="button" class="btn btn-success btn-lg btn-block" ng-click="updateExpense()">Save Expense</button>
	<button type="button" class="btn btn-danger btn-lg btn-block" ng-click="deleteExpense()">DELETE Expense</button>
</div>
